<h2>Works Referenced</h2>
<ul class="unadorned column">
  <li><a href="https://developer.mozilla.org/en-US/">MDN Web Docs</a></li>
  <li><a href="https://docs.python.org/3/">Python 3 Documentation</a></li>
  <li><a href="https://jinja.palletsprojects.com/en/3.0.x/">Jinja Documentation</a></li>
  <li><a href="https://flask.palletsprojects.com/en/2.0.x/">Flask Documentation</a></li>
  <li><a href="https://mariadb.com/kb/en/documentation/">MariaDB Documentation</a></li>
  <li>
    MariaDB Python Connector
    <a href="https://mariadb.com/docs/clients/mariadb-connectors/connector-python/">
      Enterprise Docs
    </a> and <a href="https://mariadb-corporation.github.io/mariadb-connector-python/index.html">
      Package Docs
    </a></li>
  <li><a href="https://peps.python.org/pep-0249/">PEP 249 - Python Database API Specification</a></li>
  <li>CS340 Course Materials</li>
</ul>
