<div class="smallpad">
  <h4>Website by:</h4>
  <ul class="unadorned">
    <li>Caelan</li>
    <li>Jonathan</li>
  </ul>
</div>
<div class="row-controls-container">
  <a class="button" href="/">Home</a>
  <a class="button" href="/bibliography">Bibliography</a>
</div>
