<title>{{ title }}</title>
<link href="/static/style.css" rel="stylesheet" />

<!-- The following line is copied from https://flask.palletsprojects.com/en/2.0.x/patterns/favicon/ -->
<!-- Accessed Tue 15 Mar 2022 -->
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
